
@import 'variable.css';
@import url('//at.alicdn.com/t/c/font_5019718_j5o3m51ii3.css');
/* 全局样式 */
* { 
  box-sizing: border-box; 
}
body {
  margin: 0;
  background-color: var(--background-color);
  transition: var(--transition-slow); /* 平滑切换主题 */
}